.archive-header,
.search-header {
  text-align: center;
  margin: $baseline-height 0 $baseline-height * 1.5;

  h1 {
    @extend h2;
  }
  i {
    margin-right: 4px;
  }
}
.search-header {
  margin-bottom: $baseline-height * 2;
}
.search {

  .search-form {
    display: flex;
    margin: $baseline-height auto;
    max-width: 540px;

    label {
      flex-grow: 1;
    }
    .search-field {
      border-radius: 4px 0 0 4px;
    }
    .search-submit {
      border-radius: 0 4px 4px 0;
    }
  }
}
.search-bottom {

  p {
    text-align: center;
  }
}
.more-link-wrapper {
  text-align: center;

  a {
    display: inline-block;
    text-decoration: none;
    border: solid 1px $color-gray-88;
    border-radius: 4px;
    padding: 11px 17px;
    font-weight: 700;
    transition: color 0.2s, border-color 0.2s;

    &:hover,
    &:active,
    &:focus {
      color: $color-gray-15;
      border-color: $color-gray-15;
    }
  }
}

@media all and (min-width: $eight-hundred) {

  .archive-header {
    margin: 0 0 $baseline-height * 2;
  }
  .search-header {
    margin-bottom: $baseline-height * 2.5;
  }
}

@media all and (min-width: $nine-hundred) {


  .more-link-wrapper {
    font-size: 18px;
    line-height: 1.1667;

    a {
      padding: 18px 24px;
    }
  }
}