.comments {
  margin-top: $baseline-height;
}
.comments-number {
  margin-bottom: $baseline-height * 1.5;
}
.comment-list {
  list-style: none;
  margin: $baseline-height 0;

  ul {
    list-style: none;
    margin: $baseline-height * 1.5 0 0 0;
    border-left: solid 2px $color-gray-93;
    padding-left: $baseline-height/2;
  }
  li {
    margin-bottom: $baseline-height * 1.5;
  }
}
// I don't want to style the post author's comments differently, but this class is required to pass the Theme Check...
.bypostauthor {
  margin-bottom: $baseline-height * 1.5;
}
.comment-author {
  display: flex;
  align-items: center;

  img {
    border-radius: 50%;
    margin-right: 12px;
  }
}
.comment-reply-link,
.comment-edit-link {
  display: inline-block;
  font-size: 16px;
  line-height: 1.5;
  padding: 6px 12px;
  border: solid 1px $color-gray-88;
  border-radius: 4px;
  text-decoration: none;
  transition: color 0.2s, border-color 0.2s;

  &:hover,
  &:active,
  &:focus {
    border-color: $color-gray-15;
  }
}
.comment-edit-link {
  margin-left: 8px;
}
.comment-notes,
.comment-form-cookies-consent {
  font-size: 16px;
  line-height: 1.5;
}

@media all and (min-width: $six-hundred) {

  .comments-number {
    margin-bottom: $baseline-height * 2;
  }
  .comment-list {

    ul {
      margin-top: $baseline-height * 2;
      padding-left: $baseline-height;
      border-width: 4px;
    }
    li {
      margin-bottom: $baseline-height * 2;
    }
  }
}

@media all and (min-width: $nine-hundred) {

  .comment-notes,
  .comment-form-cookies-consent {
    font-size: 18px;
    line-height: 1.333; /* 24px */
  }
}