.site-footer {
  clear: both;
  margin-top: $baseline-height * 3;
}
.design-credit {
  margin: 24px 0 0;
  padding-bottom: 24px;
  text-align: center;

  a {
    text-decoration: none;
    font-weight: 700;
  }
}