.site-header {
  padding: $baseline-height/2 $column;

  &:after {
    @include clearfix;
  }
  .max-width {
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    margin: 0 auto;
    max-width: 1240px;
  }
}
.title-container {
  position: relative;
  z-index: 10;
  display: inline-block;
  align-self: center;
}
.site-title {
  @extend %twenty-one-pixels;
  font-weight: 700;

  a {
    text-decoration: none;
  }
}
.tagline {
  @extend %fourteen-pixels;
  margin: 6px 0 0;
}
.social-media-icons {
  @extend %twenty-one-pixels;
  list-style: none;
  margin: $baseline-height 0;
  padding: 0 $column;

  li {
    display: inline-block;

    &:last-child {

      a {
        margin-right: 0;
      }
    }
  }
  a {
    display: inline-block;
    padding: 12px;
    margin-right: 12px;
    width: 50px;
    height: 50px;
    text-align: center;
    border: solid 1px $color-gray-88;
    border-radius: 50%;
    transition: color 0.2s, border-color 0.2s;

    &:hover,
    &:active,
    &:focus {
      border-color: $color-gray-15;
    }
  }
}

@media all and (min-width: $eight-hundred) {

  .site-header {
    padding: $baseline-height $column;
  }
  .title-container {
    flex-shrink: 0;
    align-self: flex-start;
  }
  .site-title {
    font-size: 1.5em; /* 24px / 16px */
    line-height: 1.1667; /* 28px */
  }
  .tagline {
    font-size: 1em;
    line-height: 1.5;
  }
  .social-media-icons {
    padding: 0;
    text-align: right;
    margin: 18px 0 0;

    a {
      font-size: 16px;
      line-height: 1;
      width: 36px;
      height: 36px;
      padding: 8px;
    }
  }
}