.pagination {
  clear: both;
  text-align: center;

  a,
  span {
    display: inline-block;
    @extend %eighteen-pixels;
    padding: 8px 12px;
    border: solid 1px $color-gray-85;
    border-radius: 4px;
    margin: 0 4px;
    min-width: 36px;
  }
  a {
    text-decoration: none;
    transition: color 0.2s, border-color 0.2s;

    &:hover,
    &:active,
    &:focus {
      border-color: $color-gray-15;
    }
  }
  span {
    background: $color-gray-93;
    border-color: $color-gray-93;
  }
}
