.main {
  padding: 0 $column;
  max-width: 1240px;
  margin: 0 auto;
}
.loop-container {
  margin-top: $baseline-height;
}
.page-template-full-width .main {
  padding: 0;

  .post-content,
  .comments {
    padding: 0 $column;
  }
}

@media all and (min-width: $six-hundred) {

  .main {
    padding: 0 $column * 2;
  }
}

@media all and (min-width: $eight-hundred) {

  .main {
    padding: 0 $column * 3;
  }
  .loop-container {
    margin-top: $baseline-height * 2;
  }
  .has-tagline .loop-container {
    margin-top: $baseline-height;
  }
}

@media all and (min-width: $eleven-hundred) {

  .main {
    padding: 0 $column * 4;
  }
}

@media all and (min-width: 1240px) {

  .main {
    padding: 0 207px;
  }
  .page-template-full-width .main {
    padding: 0 52px;
    max-width: none;

    .post-content,
    .comments {
      padding: 0;
      max-width: 1240px;
      margin: 0 auto;
    }
  }
}