.widget {
  padding: 24px;
  border: solid 3px $color-gray-93;
  border-radius: 4px;
  margin: $baseline-height 0;
}
.widget-title {
  font-weight: 700;
  margin-bottom: 24px;
}
.widget ul {
  margin: 0 0 0 $baseline-height;

  ul {
    margin-top: $baseline-height/2;
  }
}
.widget li {
  margin-bottom: $baseline-height/2;

  a {
    text-decoration: none;

    &:hover,
    &:active,
    &:focus {
      text-decoration: underline;
    }
  }
}
.widget select {
  width: 100%;
}
.widget_media_image,
.widget_media_video {
  padding: 0;
  line-height: 0;

  .widget-title {
    line-height: 1.5;
    margin: 6px 12px;
  }
  img {
    display: block;
    border-radius: 4px;
  }
  .wp-caption {
    margin: 0;
  }
  .wp-caption-text {
    margin: 6px 12px;
  }
}
.widget_search {

  .search-form {
    display: flex;
  }
  label {
    flex-grow: 1;
  }
  .search-field {
    border-radius: 4px 0 0 4px;
  }
  .search-submit {
    border-radius: 0 4px 4px 0;
  }
}
.widget_media_gallery {
  padding: 0;

  .widget-title {
    line-height: 1.5;
    margin: 6px 12px;
  }
  .gallery {
    margin: 0;
  }
  .gallery-item {
    padding: 0;
    line-height: 0;
  }
}
.widget_calendar {
  padding: 0;
  border: none;

  .widget-title {
    text-align: center;
  }
  #wp-calendar {
    margin: 0 auto;
    width: 100%;
    border: solid 3px $color-gray-93;
    border-radius: 4px;
    text-align: center;
  }
  #today {
    color: #fff;
    background: $color-gray-15;
  }
}
.widget .post-date {
  display: block;
  font-size: 16px;
  line-height: 1.5;
  color: $color-gray-40;
}
.widget_recent_comments {

  li a {
    text-decoration: underline;
  }
}
.widget .current_page_item > a {
  font-weight: 700;
}
.widget_rss {

  .widget-title a:first-child {
    margin-right: 12px;
  }
  .rssSummary {
    margin: 12px 0;
  }
  cite,
  .rss-date {
    font-size: 16px;
    line-height: 1.5;
    color: $color-gray-40;
    font-style: normal;
  }
  li .rsswidget {
    display: block;
  }
  .rsswidget + span + cite::before {
    content: '|';
    margin-right: 4px;
  }
} 