@import "variables";

#sub-accordion-section-ct_challenger_social_media_icons {

  #customize-control-email-form {
    padding-bottom: 24px;
    margin-bottom: 24px;
    border-bottom: solid 1px #d5d5d5;
  }
}
#customize-control-comment_link,
#customize-control-fi_size {
  display: none !important;

  &.show {
    display: list-item !important;
  }
}