/*===== Variables =====*/
/* Theme Colors */
/* Media Query widths */
/* Social Media Brand Colors */
/*===== Mixins =====*/
/***** Silent Classes *****/
#sub-accordion-section-ct_challenger_social_media_icons #customize-control-email-form {
  padding-bottom: 24px;
  margin-bottom: 24px;
  border-bottom: solid 1px #d5d5d5;
}

#customize-control-comment_link {
  display: none !important;
}
#customize-control-comment_link.show {
  display: list-item !important;
}
